.head {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: end;
    margin-left: 30px;
}

.name {
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: center;
}

.name h1, .name span{
    font-size: 65px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 99%;
    height: 87%;
}

.citas {
    margin-bottom: 30px;
    width: auto;
    height: auto;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
  }


