.container {
  width: 100%;
  height: 100%;
}

.top_container {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 2% 4%;
  gap: 25%;
}

.container_classes {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

.card_welcome {
  margin: 10px;
}

.card_classes {
  margin: 10px;
}

#title {
  position: relative;
  font-size: 40px;
  margin: 2% 2%;
}