/* Base container */
.container {
  display: flex;
  align-items: start;
  width: 100%;
  height: 100%;
}

/* Side Containers */
.left{
  display: flex;
  flex-direction: column;
  width: 65%;
  height: 100%;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 35%;
  height: 100%;
}

/* Class containers */

.classCards {
  padding: 10px;
}

.class {
  height: auto;
}

.classMessage {
}

/* Task containers */

.taskTab {
  padding: 2%;
}

.taskOptions {
  display: flex;
  align-items: center;
  width: 100%;
}

.taskOption {
  width: 90px;
  padding: 5px;
  margin-right: 10px;
  border-radius: 20px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.taskOption:hover {
  background-color: #e0e0e0;
}

.taskOption.selected {
  background-color: black; 
  color: white; 
  font-weight: bold; 
}

/* Calendar section */

.calendar {
  width: 100%;
}

/* Search bar */

.search {
  display: flex;
  justify-content: end;
  width: 100%;
  margin: 18px;
}

/* Profile content */

.profile {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 20px 0px;
  position: relative;
}

.profileBackground {
  width: 100%;
  height: 40%;
  background-color: black;
  border-radius: 10px 10px 0px 0px;
}

.profileContent {
  background-color: white;
  border: solid 1px black;  
}

/* Font edits */

.title {
  margin: 10px 20px;
}

/* ID Styles */

#events {
  font-size: 25px;  
  padding-bottom: 20px;
}

