.logo {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 200px;
  height: auto;
}

.menu {
  font-size: 20px;
  display: flex;
  align-items: center;
  grid-column: 1;
  grid-row: 2 / 6;
}

.link a{
  display: flex;
  align-items: center;
}

.link, .link a {
  list-style: none;
  text-decoration: none;
  color: #000;
}

.link a p {
  font-size: 25px;
}

.icon {
  font-size: 50px;
  margin-right: 10px;
}

.profile {
  grid-column: 1;
  grid-row: 6 / 9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile a {
  color: #000;
  text-decoration: none;
}

.foto {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}