:root {
    --primary-color: #e7e7e7;
    --secondary-color: #385273;
    --terceary-color: #00264A;
}

.container {
    display: flex;
    position: absolute;
    top: 15%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 500px;
    min-height: 100px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.50);
}


.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -100px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--terceary-color);
}

.icon img {
    width: 70%;
    height: auto;
}

.backBtn {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 20px;
}

.form input {
    width: 60%;
    height: 70px;
    font-size: 20px;
    border: none;
    padding-left: 30px;
    background-color: var(--secondary-color);
}

.form_group {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.form_container_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;    
    height: 70px;
    background-color: var(--terceary-color);
}

.btn {
    font-size: 25px;
    color: white;
    width: 60%;
    height: 50px;
    border: none;
    border-radius: 0px 0px 20px 20px;
    position: absolute;
    bottom: -50px;
    background-color: rgba(255, 255, 255, 0.4);
}