@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.card {
    width: 30%;
    height: auto;
    padding: 15px 15px 30px 15px;
    margin: 20px 10px 20px 10px;
    font-family: 'Roboto', sans-serif;
    border: solid 1px;
    border-radius: 30px;
    background-color: aliceblue;
}

.card h2 {
    font-size: 40px;
}

.card p {
    margin: 2px;
    padding: 12px;
    font-size: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.button {
    width: 250px;
    border-radius: 20px;
}