.container_menu {
    display: flex;
    flex-direction: column;
    width: 13%;
    height: 100%;
    background-color: #14121F;
}

.container_dashboard {
    width: 87%;
    height: 100%;
    background-color: white;
}